<!DOCTYPE html>
<html lang="en">
<head>
    <!-- TODO: We shouldn't use the CDN approach since we won't have internet access in Kiruna -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>

    {% if title %}
        <title>DROPSTAR - {{ title }}</title>
    {% else %}
        <title>DROPSTAR</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-black-dropstar fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand mr-4" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}" style="width:60px;height:60px;">
                    <span> DROPSTAR</span>
                </a>
                <!-- BUG: This doesn't work on mobiles by default -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown" aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse show" id="navbarWithDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('downlink') }}">Downlink</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Test Plan 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Test Plan 2</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dev Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for('uplink') }}">Uplink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% if title %}
            <h1 style="margin-top:100px;">{{ title }}</h1>
        {% endif %}
        <div class="row">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% if info %}
        <div class="row">
            <div class="content-section" style="margin-top: 30px;">
                {% include "info.html" %}
            </div>
        </div>
        {% endif %}

    </main>
</body>
</html>