<!DOCTYPE html>
<html lang="en">
<head>
    <!-- TODO: We shouldn't use the CDN approach since we won't have internet access in Kiruna -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>DROPSTAR - {{ title }}</title>
    {% else %}
        <title>DROPSTAR</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-black-dropstar fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}" style="width:60px;height:60px;">
                    <span> DROPSTAR</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('downlink') }}">Downlink</a>
                        <a class="nav-item nav-link" href="{{ url_for('uplink') }}">Uplink</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <h1 style="margin-top:100px;">{{ title }}</h1>
        <div class="row">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="content-section" style="margin-top: 30px;">
                {% include "info.html" %}
            </div>
        </div>
    </main>
</body>
</html>